<form class="form-aggregator" asp-action="AggregateNews" asp-controller="Article" asp-antiforgery="true" method="post">
    <button class="btn btn-danger form-aggregator-btn">
        Получить новости!
    </button>
</form>