@model ArticlesWithPaginationModel

<div class="gx-2 text-center">
    <a class="btn btn-primary" asp-action="CreateArticleWithSource" asp-controller="Article">Create with source</a>
    <a class="btn btn-primary" asp-action="Aggregator" asp-controller="Article">Aggregator</a>
    <a class="btn btn-primary" asp-action="ManageUsers" asp-controller="Account">Users</a>
</div>


<div class="row article-list">
    @foreach (var el in Model.ArticlePreviews)
    {
       await Html.RenderPartialAsync("ArticlePreviewPartialManage", el);
    }
</div>

<pagination page-info="Model.PageInfo" page-action="ManageArticles">
    <p>1123123123123123123</p>
</pagination>

