@model ArticlesWithPaginationModel

<div class="gx-2">
    <a class="btn btn-info" asp-action="CreateArticleWithSource" asp-controller="Article">Create with source</a>
    <a class="btn btn-info" asp-action="Aggregator" asp-controller="Article">Aggregator</a>
    <a class="btn btn-info" asp-action="ManageUsers" asp-controller="Account">Users</a>
</div>

<div class="row">
    <h4>Search</h4>
    <input type="text" id="article-search" class="form-control col col-12" placeholder="Type article name" />
</div>
<button type="submit" class="btn-search">Perform search</button>



<div class="row article-list">
    @foreach (var el in Model.ArticlePreviews)
    {
       await Html.RenderPartialAsync("ArticlePreviewPartialManage", el);
    }
</div>

<pagination page-info="Model.PageInfo" page-action="Index">
    <p>1123123123123123123</p>
</pagination>

@section Scripts
{
    <script src="/lib/bootstrap-autocomplete/autocomplete.js"></script>
    <script src="/js/article-search.js"></script>
}
