myProject/.vs/
myProject/myProject/bin/
myProject/myProject/obj/
myProject/myProject.Data/bin/
myProject/myProject.Data/obj/
myProject/myProject.Abstractions/bin/
myProject/myProject.Abstractions/obj/
myProject/myProject.Business/bin/
myProject/myProject.Business/obj/
myProject/myProject.Core/bin/
myProject/myProject.Core/obj/
myProject/myProject.Repositories/bin/
myProject/myProject.Repositories/obj/
myProject/myProject.WebAPI/bin/
myProject/myProject.WebAPI/obj/
myProject/myProject.DataCQS/bin/
myProject/myProject.DataCQS/obj/

