html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

*,body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    transition: 0.3s;
}

.footer {
    margin-bottom: 60px;
    margin-top: 30px;
}

.footer-text {
    padding-top: 30px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}

.card-with-margin {
    margin: 10px;
}

.comments {
    padding: 16px 0;
}

.comment-item {
    display: flex;
    margin-bottom: 16px;
}

.comment-item:last-of-type {
    margin-bottom:0;
}

.comment-content {
    margin-left: 16px;
}

.comment-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.comment-title {
    margin-bottom: 4px;
}

.comment-date {
    color: gray;
    font-size: 12px;
    margin-top: 4px;
}

.pagination-btns {
    display: flex;
    gap: 4px;
}

.form-label {
    margin: 0 0px 8px 0px;
}

/* --- Register ---- */ 

.register-page-title {
    margin-bottom: 32px
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.register-input {
    width: 49%;
    padding-right:16px;
}

.register-input:nth-child(2n) {
   padding-right: 0;
}

.register-button-wrapper {
    width: 100%
}
.register-button:hover {
    width: 47.3%;
    color: #0d6efd;
    background-color: white !important;
    border: 1px solid #0d6efd;
}

.register-button {
    width: 47.3%;
    color: white;
    border: 1px solid #0d6efd;
    text-transform: uppercase;
    font-weight: 600;
}

.register-input.register-textarea-wrapper textarea {
    max-height: 120px;
    resize: none;
}

.register-input.register-textarea-wrapper {
    width: 100%;
    max-height: 150px;
    height: 100%;
}

.register-label-checkbox {
    margin-right: 4px;
    margin-bottom: 0px;
}

.hiden, .admin-hiden {
    display: none;
}
