html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html, body {
  position: relative;
  height: 100%;
}

*,body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
}

a {
    transition: 0.3s;
}

textarea {
    resize:none;
}

header {
    position: relative;
    z-index: 2;
}


.navbar {
    background: #0d6efd;
    padding: 0;
}

.main-page-wrapper {
    min-height: 100%;
    position: relative;
}

.article-form > * {
    margin-bottom:16px;
}

.article-form:last-child {
    margin-bottom: 0;
}

.navbar-toggler.navbar-dark {
    box-shadow: none;
    outline: none;
}

.btn-primary-dropdown-toggle {
    border-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 1);
    --bs-navbar-hover-color: rgba(255, 255, 255, 1);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 1);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-item {
    border-right: 1px solid #ffffff4f;
}

.nav-item:nth-child(3) {
    border-right: none
}

.nav-item .nav-link:hover {
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.btn-primary-dropdown-toggle:hover {
    border: 1px solid white;
}

.fav-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
    gap: 32px 45px;
}

.card-body p {
    text-align: justify;
    font-style: initial;
    flex: 1 1 auto;
    margin: 0 auto;
}

.card-body {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.card-body img {
    margin-bottom: 8px;
    border-radius: 16px;
    width: 250px;
}

.card-body .btn {
    width: 100%;
    margin-top: 16px;
}

.card-footer .card-footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.card-footer .card-footer-item:last-of-type {
   margin-bottom: 0;
}

main.pb-3 {
    padding-bottom: 90px !important;
}

.card-footer .card-footer-item:last-of-type h5 {
    font-weight: 400;
}

.card-footer .card-footer-item h5 {
    font-weight: 600;
}

.form-aggregator {
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
}

.content-article * {
    margin-bottom: 8px;
}

.news-media__preview, .article__item_image {
    text-align: center;
}

.content-news img {
    max-width: 800px;
    max-height: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px #00000038;
    object-fit: cover;
    width: 100%;
    margin: 8px 0;
}

.content-article {
    flex-direction: column;
}

.content-article:last-child {
    margin-bottom: 0;
}

#btn-profile {
    border: none;
    border-radius: 50%;
}

#btn-delete, #profile-page-btn-unfollow, #profile-page-btn-subscribe, #btn-start-hide, #btn-save, #btn-stop-hide {
    border-radius: 10px;
    background: #0d6efd;
    color: white;
    padding: 8px;
    border: 1px solid;
    opacity: 1;
    width: 250px;
}

.btn_delete:hover, .btn_delete:active, #profile-page-btn-unfollow:hover,
 #profile-page-btn-unfollow:active, #profile-page-btn-subscribe:hover, #profile-page-btn-subscribe:active,
#btn-start-hide:hover,#btn-start-hide:active,  #btn-save:hover, #btn-save:active, #btn-stop-hide:hover, #btn-stop-hide:active{
   background: #0a58ca;
}

.form-aggregator-btn {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    padding: 8px;
}

.card:hover {
    scale: 1.05;
}

.card {
    max-width: 400px;
    padding: 16px 8px;
    width: 100%;
    max-width: 400px;
    padding: 16px 8px;
    width: 100%;
    transition: .3s ease-in-out;
}

/*.login-page-wrapper, .register-page-wrapper {
    transform: translate(50%, -50%);
    right: 50%;
    top: 50%;
    position: absolute;
}*/

.article-list {
    justify-content: center;
    gap: 32px 16px;
    margin: 32px 0;
}

.login-page-wrapper .btn {
    color: white;
}
.footer {
    width: 100%;
    background: #0d6efd;
    position: absolute;
    bottom: 0;
}

.footer-text {
    padding: 16px;
    color: white;
    opacity: 0.8;
}

.footer-text, .footer-text a {
   color: white;
   opacity: 0.8;
 }

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}

.card-with-margin {
    margin: 10px;
}

.comments {
    padding: 16px 0;
}

.comment-item {
    display: flex;
    margin-bottom: 16px;
    border-bottom: 1px solid #00000021;
}

.comment-item:last-of-type {
    margin-bottom:0;
    border: none;
}

.comment-content {
    margin-left: 16px;
    text-align: initial;
}

.comment-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: none;
}

.comment-title {
    margin-bottom: 4px;
}

.comment-date {
    color: gray;
    font-size: 12px;
    margin-top: 4px;
}

.pagination-btns {
    display: flex;
    gap: 4px;
}

.form-label {
    margin: 0 0px 8px 0px;
}

.btn-admin-panel, .btn-create-article {
    border: none;
}

.btn-admin-panel img, .btn-create-article img {
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0px 0px 15px 5px #0d6efd;
}

.btn-admin-panel:hover img, .btn-create-article:hover img {
    scale: 1.1;
}

.supModer-hiden.center, .admin-hiden.center {
    text-align: center;
}

/* --- Register ---- */
.register-page-title, .login-page-wrapper > h3, .dropdown > h4 {
    margin: 18px 0;
    padding: 0;
}

.dropdown > h4 {
    margin-top: 0;
}

.profile-page-wrapper > * {
    margin-bottom: 4px;
}

.profile-page-wrapper-info > *, .profile-page-likes > * {
    margin-bottom: 8px;
}

.profile-page-wrapper-info:last-child, .profile-page-likes:last-child, .profile-page-wrapper:last-child {
    margin-bottom: 0;
}

.profile-page-wrapper-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
}

.profile-page-wrapper-info:before {
    content: '';
    border-left: 6px double #022c6936;
    position: absolute;
    height: 100%;
    left: -100px;
}

.profile-page-likes {
    display: flex;
    flex-wrap: wrap;
    gap: 0 50px;
    justify-content: center;
}

.profile-page-likes-img {
    width: 100%;
    text-align: center;
}

.profile-page-about {
    width: 500px;
    height: 400px;
    border: 1px solid #0c0d68;
    border-radius: 18px;
    padding: 8px 16px;
    overflow-y: scroll;
}

.profile-page {
    margin-top: 16px;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.register-input {
    width: 49%;
    padding-right:16px;
}

.register-input:nth-child(2n) {
   padding-right: 0;
}

.register-button-wrapper {
    width: 100%
}

.login-btn-wrapper {
    text-align: center;
}

.login-btn {
    margin-top: 32px;
}

.register-button:hover, .login-btn:hover {
    width: 47.3%;
    color: #0d6efd;
    background-color: white !important;
    border: 1px solid #0d6efd;
}

.register-button, .login-btn {
    width: 47.3%;
    color: white;
    border: 1px solid #0d6efd;
    font-weight: 600;
}

.dropdown-menu.show {
    overflow: auto;
}

.register-input.register-textarea-wrapper {
    width: 100%;
    max-height: 150px;
    height: 100%;
}

.register-label-checkbox {
    margin-right: 4px;
    margin-bottom: 0px;
}

.hiden {
    display: none;
}

.registration-wrapper-buttons-mobile {
    display: none;
}

.my-account-edit-btns {
    width:48%
}

.emoji h5 {
    display: none;
}
.emoji svg {
    display:none;
    width: 30px;
    height: 30px;
}
.profile-page-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 32px 0 16px 0px;
}

.profile-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.profile-page {
    display: flex;
    max-width: 1296px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.page-title {
    margin: 16px 0;
}

#select-category {
    width: 250px;
    height: 50px;
    border-radius: 4px;
    background: #0d6efd;
    color: white;
    border: none;
    font-size: 18px;
    padding: 8px;
    outline: none
}

#select-category option{
    padding:8px;
    border-bottom: 1px solid #0b5ed7;
}

#select-category option:hover,#select-category option:active,#select-category option:focus{
    background:#0b5ed7 !important;
}

.btns-edit-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1400px) {
    .article-list {
        gap: 32px;
    }
}

@media (max-width: 1200px) {
    .profile-page-wrapper-info:before {
        transform: translate(50px, 0);
    }
}

@media (max-width: 992px) {
    .profile-page-wrapper-info:before {
        content: none;
    }

    .profile-page-wrapper {
        width: 100%;
    }

    .profile-page {
        gap: 14px 0;
    }
}

@media (max-width: 600px) {
    .profile-page-about {
        max-width: 500px;
        width: 100%;
    }
}

@media (max-width:576px) {
    .nav-item {
        border: none;
    }

    .registration-wrapper-buttons {
        display: none;
    }

    .registration-wrapper-buttons-mobile {
        display: block;
    }

    .card-footer .card-footer-item h5 {
        font-size: 14px;
    }

    .card:hover {
        scale: 1;
    }
}

@media (max-width:521px) {
    .btns-edit-article {
        justify-content: center;
    }
}
