@model HomePageModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var article in @Model.FavouredArticles)
    {
        await Html.RenderPartialAsync("ArticlePreviewPartial", article);
    }
</div>

@section Scripts
    {
    <script src="js/home-page.js"></script>
}