@{
    ViewData["Title"] = "Политика сайта";
}
<h1>@ViewData["Title"]</h1>

<p>Здравствуйте, меня зовут Павел Евдокимчик и это мой проект по .Net. Надеюсь вам будут попадаться самые хорошие новости!</p>
