@model ManageUsersModel

<div class="gx-2">
    <a class="btn btn-primary" asp-action="ManageArticles" asp-controller="Article">Назад</a>
</div>

<div class="row article-list">
    @foreach (var user in Model.Users)
    {
       await Html.RenderPartialAsync("UserPreviewPartial", user);
    }
</div>


